DB_USER=usuario_desarrollo
DB_PASSWORD=contrasena_segura_local
DB_NAME=nombre_proyecto_local
DB_PORT=5432

DB_ADMIN_USER=nombre_usuario
DB_ADMIN_PASSWORD=password_usuario

# Conexión del Backend con Rol de Lector
DB_LECTOR_USER=nombre_usuario
DB_LECTOR_PASSWORD=password_usuario